@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

:root {
  --bg-dark: #1b1b1b;
  --bg-color: #037a90;
  --inset-shadow: inset -6px -6px 9px #474747, inset 6px 6px 9px 0 #1b1b1b;
}

body {
  margin: 0;
  font-family: "Comfortaa", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  color: #c9ccea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.container h1 {
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 2rem;
  color: var(--bg-color);
  text-shadow: 1px 1px 1px rgba(187, 187, 187, 0.4),
    -1px -1px 1px rgba(0, 0, 0, 0.2);
}

.container .labels {
  list-style: none;
  display: flex;
  font-size: 0.8rem;
  padding: 0.3rem 0.3rem;
  background-color: black;
}

.active-label {
  background-color: #fe6f6b;
}

.timer-container {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  border-radius: 7.5rem;
  color: #efefef;
  background: #151932;
  font-size: 3.5rem;
  box-shadow: 1rem 1.5rem 2rem black;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

button {
  color: #efefef;
  font-size: 0.8rem;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 3rem;
  margin: 0.2rem;
  background: #0c0e1b;
  min-width: 80px;
  cursor: pointer;
  outline: none;
}

.button-wrapper button.activve {
  color: #0c0e1b;
  background-color: #c9ccea;
  border: 1px solid #0c0e1b;
}
.form-container {
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(187, 187, 187, 0.4),
    -2px -2px 2px rgba(0, 0, 0, 0.2);
}
.input-wrapper {
  margin: 1.5rem;
}
.input-wrapper input {
  height: 30px;
  width: 30px;
  padding: 2rem;
  color: var(--bg-color);
  border: 5px;
  border-radius: 50%;
  margin-right: 0.3rem;
  text-align: center;
  font-size: 14pt;

  background-color: var(--bg-color);
  box-shadow: 4px 2px 16px rgba(255, 255, 255, 0.3),
    -4px -2px 16px 0 rgba(0, 0, 0, 0.25);

  outline: none;
  cursor: initial;
}

input {
  text-shadow: 2px 2px 2px #d6e1ef99, 0 0 0 #000, 2px 2px 2px #d6e1ef00;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
